$header-height: 50px;
$menu-height: 40px;
$footer-height: 50px;

// layout 
$breakpoint-xxs: 360px;     // 갤럭시 s5, 아이폰5 
$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;

//text
$h1-size: 1.5rem;
$h2-large-size: 1.125rem;
$font-default-size: 0.875rem;
$font-small-size: 0.75rem;
$font-xsmall-size: 0.625rem;
$font-icon-size: 0.5625rem;
