.chat-list {
    border: 1px solid;
}

.chat-room {
    height: 80px;

    @include media-breakpoint-up(md) { 
        &:nth-of-type(odd) {
            padding-left: 0;
        }

        &:nth-of-type(even) {
            padding-right: 0;
        }        
     }
}

.chat-room-content {
    border: 1px solid #ddd;
}

.chat-room-seq {
    height: 30px;
    border-bottom: 0;
}

.chat-room-body {
    height: 50px;
    border-top: 0;    
}